{% extends "layouts/main-legalrep.html" %}

{% block pageTitle %}
  Manage cases – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="grid-item-case-list govuk-heading-xl">
        <div class="case-header">
          <h1 class="case-list-header">#1234-5678-9101-2131</h1>
          <div class="search-bar">
            <div class="search-controls">
              <div class="search-text">Next steps:</div>
              <div class="search-input-container"> <!-- Container added -->
                <select class="govuk-select" id="sort" name="sort">
                  <option value="option1">Upload hearing documents</option>
                  <option value="option2">Upload mediation representation</option>
                </select>
                <a id="my-custom-button" class="my-custom-button" href="whois-document-for-1.html">Go</a>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-container">

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Summary
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Claim details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        History
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Claim documents
      </a>
    </li>
  </ul>
  
  <div class="govuk-tabs__panel" id="past-day">
    <table class="govuk-table">
      
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__cell">Case number</td>
            <td scope="col" class="govuk-table__cell"></td>
            <td scope="col" class="govuk-table__cell">#1234-5678-9101-2131</td>
        </tr>
    </thead>
    
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Description of claim</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">Hairdressing went wrong. Hair fell out.</td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table custom-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Expected claim value</th>
          <th scope="col" class="govuk-table__header app-custom-class"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Your fee will be calculated based on the statement of value</th>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Statement of value</th>
          <td class="govuk-table__cell">£1,100.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Text</th>
          <td class="govuk-table__cell">Text</td>
        </tr>
      </tbody>
      
    </table>

  </div>
  
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <table class="govuk-table">
     



      <h2 class="govuk-heading-m">Disclosure</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Disclosure list
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Contract_May_2019.pdf</a>
          </dd>
          
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Documents for disclosure
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Receipt_June_2019.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Photo_of_Proof.jpg</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> customer reference</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Email_21_June_2019.rtf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Disclosure_list_3.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Witness evidence</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Witness statement
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">1_witness_statement_John_Smith.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">2_witness_statement_Mallory_Archer.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">3_witness_statement_Cyril_Figgis.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">4_witness_statement_Lana_Kane.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">5_witness_statement_Pamela_Poovey.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Witness summary
              </dt>
              <dd class="govuk-summary-list__value">
                  <a href="#" target="_blank">5_witness_statement_Algernop_Krieger.pdf</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> licence period</span>
                </a>
              </dd>
              </div>

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Notice of intention to rely on hearsay evidence
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <a href="#" target="_blank">Notice_of_Intention_v1.pdf</a>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> licence period</span>
                    </a>
                  </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Documents referred to in the statement
                      </dt>
                      <dd class="govuk-summary-list__value">
                          <a href="#" target="_blank">Email_June_2019.rtf</a>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden"> licence period</span>
                        </a>
                      </dd>
                      </div>

                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            
                          </dt>
                          <dd class="govuk-summary-list__value">
                              <a href="#" target="_blank">Email_January_2019.rtf</a>
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> licence period</span>
                            </a>
                          </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                
                              </dt>
                              <dd class="govuk-summary-list__value">
                                  <a href="#" target="_blank">Email_August_2019.rtf</a>
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                  Change<span class="govuk-visually-hidden"> licence period</span>
                                </a>
                              </dd>
                              </div>

                              <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                      <a href="#" target="_blank">Email_July_2019.rtf</a>
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                      Change<span class="govuk-visually-hidden"> licence period</span>
                                    </a>
                                  </dd>
                                  </div>

      </dl>


      <h2 class="govuk-heading-m">Expert evidence</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expert's report
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Expert_report_Alex_Monroe.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Joint statement of experts
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Expert_joint_statement_Alex_Monroe.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Questions for opther party's expert or joint experts
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Qs_for_other_party.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> customer reference</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Answers to questions asked
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Answers_to_other_party_Qs.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        
      </dl>
      <h2 class="govuk-heading-m">Trial documents</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case summary
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Trial_Case_Summary.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Skeleton argument
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Reasons_the_fibula_is_great.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Authorities
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Authorities_for_case12345.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Costs
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">costs_incurred_12345.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Documentary evidence for trial
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="#" target="_blank">Picture_of_flooding.jpg</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
      </dl>

       <h2 class="govuk-heading-m">Mediation non-attendance</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Non-attendance statement
            </dt>
            <dd class="govuk-summary-list__value">
                <a href="#" target="_blank">1_witness_statement_John_Smith.pdf</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
       

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Documents referred to in statement
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" target="_blank">5_witness_statement_Algernop_Krieger.pdf</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> licence period</span>
                  </a>
                </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <a href="#" target="_blank">Notice_of_Intention_v1.pdf</a>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence period</span>
                      </a>
                    </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="#" target="_blank">Email_June_2019.rtf</a>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> licence period</span>
                          </a>
                        </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="#" target="_blank">Email_January_2019.rtf</a>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                              <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> licence period</span>
                              </a>
                            </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="#" target="_blank">Email_August_2019.rtf</a>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> licence period</span>
                                  </a>
                                </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <a href="#" target="_blank">Email_July_2019.rtf</a>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">
                                        Change<span class="govuk-visually-hidden"> licence period</span>
                                      </a>
                                    </dd>
                                    </div>

        </dl>


    





    </table>
  </div>
</div>

</div>

<div class="govuk-!-padding-bottom-9"></div>

<script>
  // Get a reference to the select element and the "Go" button
  const select = document.getElementById("sort");
  const goButton = document.getElementById("my-custom-button");

  // Add an event listener to the select element
  select.addEventListener("change", function () {
    // Get the selected option
    const selectedOption = select.value;

    // Define the URLs for the different options
    const option1URL = "whois-document-for-1.html";
    const option2URL = "whois-document-for-2.html"; // Change this URL as needed

    // Determine the URL based on the selected option
    let redirectURL = selectedOption === "option1" ? option1URL : option2URL;

    // Update the href of the "Go" button
    goButton.href = redirectURL;
  });
</script>


{% endblock %}