{% extends "layouts/main-legalrep.html" %}

{% block pageTitle %}
  Manage cases – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block main %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="grid-item-case-list govuk-heading-xl">
          <div class="case-header">
            <h1 class="case-list-header" style="font-size: 40px;">Check your documents</h1>
          </div> <!-- Close the "case-header" container -->
          <div class="govuk-!-padding-bottom-8"></div>

        <h2 class="govuk-heading-m">Mediation non-attendance</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Non-attendance statement
            </dt>
            <dd class="govuk-summary-list__value">
                <a href="#" target="_blank">1_witness_statement_John_Smith.pdf</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
       

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Documents referred to in statement
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" target="_blank">5_witness_statement_Algernop_Krieger.pdf</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> licence period</span>
                  </a>
                </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <a href="#" target="_blank">Notice_of_Intention_v1.pdf</a>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence period</span>
                      </a>
                    </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="#" target="_blank">Email_June_2019.rtf</a>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> licence period</span>
                          </a>
                        </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="#" target="_blank">Email_January_2019.rtf</a>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                              <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> licence period</span>
                              </a>
                            </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="#" target="_blank">Email_August_2019.rtf</a>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> licence period</span>
                                  </a>
                                </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <a href="#" target="_blank">Email_July_2019.rtf</a>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">
                                        Change<span class="govuk-visually-hidden"> licence period</span>
                                      </a>
                                    </dd>
                                    </div>

        </dl>

          <div class="govuk-!-padding-bottom-6"></div>
          
          <div class="govuk-button-group">
            <a href="upload-doc-2.html">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Previous
              </button>
            </a>
            <a href="docs_uploaded_1.html">
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </a>
          </div>

          <div class="govuk-button-group">
          <a class="govuk-link" href="case-view.html">Cancel</a>
        
        
        
        
        </div>
         
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}