
<header class="govuk-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container">

    <div class="grid-container-header">
      <div class="grid-item"><a class="MyHMCTS">MyHMCTS</a></div>
      <div class="grid-item"><a class="manage">Manage Cases</a></div>
      <div class="grid-item sign-out-column"><a class="signout">Sign out</a></div>
      
      <div class="grid-item"></div>
      <div class="grid-item">
        <a class="case-links" href="#">Case list</a>
        <a class="case-links" href="#">Create case</a>
      </div>
      <div class="grid-item find-case-column"><a class="find-case">Find case</a></div>
    </div>

  </div>
</header>

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

